@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;900&display=swap');

:root {
    --bg-color: rgb(0, 8, 15);
    --text-color: hsl(200deg, 100%, 92%);
}

html {
    font-family: 'lexend deca', Tahoma, 'Trebuchet MS';
    font-size: calc(10px + 0.36vw);
    font-weight: 200;
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    height: 100dvh;
    font-size: 1rem;
}

.container {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    position: relative;
    /* height: 76%;
    width: 84%; */
    height: 100%;
    width: 100%;

    overflow: hidden;
    /* overflow: visible; */
    /* outline: solid blue 1px; */
}

    .logo {
        position: absolute;
        left: 10%;
        top: 10%;
        font-size: 2rem;
        font-weight: 100;
        pointer-events: none;
    }

        .jb {
            letter-spacing: -0.4ch;
        }

        .song {
            font-size: 1.8rem;
            /* font-weight: 200; */
        }

    .greeting {
        position: absolute;
        bottom: min(10%, 10vw);
        left: 10%;
        font-weight: 100;
        font-size: 3rem;
        line-height: 3.5rem;
        white-space: nowrap;
    }

        .greeting span {
            display: inline-block;
            position: relative;
            letter-spacing: 0.2ch;
        }

        .greeting span::after {
            display: block;
            position: absolute;
            top: 0;
            left: 0.2ch;
        }

        .j::after {
            content: 'J';
        }

        .b::after {
            content: 'B';
        }

    a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.8rem;
        pointer-events: all;
    }

    input {
        all: unset;
        color: var(--text-color);
    }

    input[class|="item"] {
        width: 7.5rem;
        font-size: 2rem;
        font-weight: 200;
        text-align: center;
        cursor: pointer;
    }
        
        @keyframes teeter {
            from, to {
                animation-timing-function: ease-out;
                transform: translate(50%, 50%) scale(1.2);
            }
            25% {
                animation-timing-function: ease-in;
                transform: translate(50%, 50%) scale(1.2) rotateZ(-5deg);
            }
            50% {
                animation-timing-function: ease-out;
                transform: translate(50%, 50%) scale(1.2);
            }
            75% {
                animation-timing-function: ease-in;
                transform: translate(50%, 50%) scale(1.2) rotateZ(5deg);
            }
        }

        input::placeholder {
            opacity: 1;
            color: var(--text-color);
        }

        input[class|="item"]:hover ~ .selection,
        input[class|="item"]:focus-within ~ .selection,
        div[class|="submenu"]:focus-within ~ .selection {
            --offset: 0%;
            transition: transform 400ms ease-in-out;
        }

        .item-1 {
            position: absolute;
            bottom: 68%;
            right: 55%;
            /* right: 70%; */
            transform-origin: 50% 60%;
            transform: translate(50%, 50%);
        }

            .item-1:not(:focus-within):hover {
                transform: translate(50%, 50%) scale(1.1);
                animation: teeter 3s linear infinite;
            }

            .item-1:hover ~ .selection {
                    --x: 45% !important;
                    --y: 32% !important;
                    /* --x: 30% !important; */
                    /* --y: 32% !important; */
                }

            .item-1:focus-within ~ .selection,
            .submenu-1:focus-within ~ .selection {
                    --x: 45%;
                    --y: 32%;
                    /* --x: 30%; */
                    /* --y: 32%; */
                }

        .item-2 {
            position: absolute;
            bottom: 45%;
            right: 38%;
            /* bottom: 50%; */
            /* right: 50%; */
            transform-origin: 50% 60%;
            transform: translate(50%, 50%)
        }

            .item-2:not(:focus-within):hover {
                transform: translate(50%, 50%) scale(1.1);
                animation: teeter 3s linear infinite reverse;
            }

            .item-2:hover ~ .selection {
                --x: 62% !important;
                --y: 55% !important;
                /* --x: 50% !important; */
                /* --y: 50% !important; */
            }

            .item-2:focus-within ~ .selection,
            .submenu-2:focus-within ~ .selection {
                --x: 62%;
                --y: 55%;
                /* --x: 50%; */
                /* --y: 50%; */
            }

        .item-3 {
            position: absolute;
            bottom: 22%;
            right: 21%;
            /* bottom: 32%; */
            /* right: 30%; */
            transform-origin: 50% 60%;
            transform: translate(50%, 50%);
            /* background-color: aqua; */
        }

            .item-3:not(:focus-within):hover {
                transform: translate(50%, 50%) scale(1.1);
                animation: teeter 3s linear infinite;
            }

            .item-3:hover ~ .selection {
                --x: 79% !important;
                --y: 78% !important;
                /* --x: 70% !important; */
                /* --y: 68% !important; */
            }
            
            .item-3:focus-within ~ .selection,
            .submenu-3:focus-within ~ .selection {
                --x: 79%;
                --y: 78%;
                /* --x: 70%; */
                /* --y: 68%; */
            }

    .inverting-light {
        background-color: hsla(200, 100%, 90%, 0.4);
        backdrop-filter: invert(100%);
        -webkit-backdrop-filter: invert(100%);
    }
    
    .selection {
        --x: 0%;
        --y: 0%;
        --offset: -5%;
        --line-width: 5rem;
        --menu-select: 
        translate(calc(var(--x) / 2.5 + var(--offset) + 10%), 
        calc(var(--y) / 2.5 + var(--offset) + 10%));

        clip-path: 
            polygon(
                calc(100% - var(--line-width)) 0%,
                100% var(--line-width),
                var(--line-width) 100%,
                0% calc(100% - var(--line-width))
            );
        position: absolute;
        right: 0%;
        bottom: 0%;
        height: 250%;
        width: 250%;
        transform-origin: 50% 50%;
        transform: 
        var(--menu-select);
        pointer-events: none;
        z-index: 1;

        transition: transform 500ms ease-in-out 1s;
    }

    .invert-brightness {
        filter: invert(100%) hue-rotate(180deg);
    }
    
    div[class|="submenu"] {
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
    }
    
        div[class|="ray"] {
            position: relative;
            display: flex;
            justify-content: center;
            animation: hide-animation-on-page-load 500ms linear;
        }

            @keyframes hide-animation-on-page-load {
                from, to {
                    opacity: 0;
                }
            }

            .submenu-selection {
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 100%;
            }

            a[class|="project"] {
                height: 100%;
                width: 100%;
                line-height: 3.5rem;
                display: flex;
                justify-content: right;
            }

        .submenu-1 {
            /* min-height: 296px; */
            height: 40%;
            width: 50%;
        }

            div[class|="top-wrap"] {
                position: absolute;
                right: 0%;
                transform-origin: -25% -550%;
            }
            
                .top-wrap-1 {
                    bottom: 30%;
                    transform: rotateZ(-30deg);
                    transition: transform 400ms ease-in-out 0ms;
                }
                
                    .submenu-1:focus-within .top-wrap-1,
                    .item-1:focus-within ~ .submenu-1 .top-wrap-1 {
                        transform: rotateZ(0deg);
                        transition: transform 500ms ease-in-out 300ms;  
                    }
                
                    .submenu-1 .ray-1 {
                        height: 3.5rem;
                        min-width: 422px;
                        width: 57dvh;
                        transform-origin: 100% 100%;
                        transform: rotateZ(30deg);
                    }

                        .project-1 {
                            padding-right: 12%;
                        }

                            .project-1:hover ~ .submenu-selection,
                            .project-1:focus-within ~ .submenu-selection {
                                background-color: hsl(330deg, 100%, 65%);
                            }
                
                .top-wrap-2 {
                    bottom: -30%;
                    transform: rotateZ(-25deg);
                    transition: transform 400ms ease-in-out 100ms;                
                }
                
                    .submenu-1:focus-within .top-wrap-2,
                    .item-1:focus-within ~ .submenu-1 .top-wrap-2 {
                        transform: rotateZ(0deg);
                        transition: transform 500ms ease-in-out 100ms;  
                    }
                
                    .submenu-1 .ray-3 {
                        height: 3.5rem;
                        min-width: 999px;
                        width: 135dvh;
                        transform-origin: 100% 100%;
                        transform: rotateZ(26deg);
                    }

                        .project-3 {
                            padding-right: 15%;
                        }

                            .project-3:hover ~ .submenu-selection,
                            .project-3:focus-within ~ .submenu-selection {
                                background-color: hsl(200, 100%, 50%);
                            }

            div[class|="right-wrap"] {
                position: absolute;
                right: 0%;
                transform-origin: 200% 200%;
                /* outline: solid green 10px; */
            }

                .submenu-1 .right-wrap-1 {
                bottom: 0%;
                transform: rotateZ(31deg); 
                transition: transform 400ms ease-in-out 50ms;  
                }
                
                    .submenu-1:focus-within .right-wrap-1,
                    .item-1:focus-within ~ .submenu-1 .right-wrap-1 {
                        transform: rotateZ(0deg);
                        transition: transform 500ms ease-in-out 200ms;  
                    }

                    .submenu-1 .ray-2 {
                        height: 3.5rem;
                        min-width: 666px;
                        width: 90dvh;
                        transform-origin: 100% 100%;
                        transform: rotateZ(28deg)
                    }

                        .project-2 {
                            padding-right: 12%;
                        }

                            .project-2:hover ~ .submenu-selection,
                            .project-2:focus-within ~ .submenu-selection {
                                background-color: hsl(100deg, 100%, 60%)
                            }

        .submenu-2 {
            height: 100%;
            width: 100%;
            font-size: 1rem;
        }

            div[class|="spotlight"] {
                position: absolute;
                border-radius: 50%;
                aspect-ratio: 1 / 1;
                height: 0px;
                width: 0px;
                transform: translate(-50%, -50%);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                animation: backdrop-bugfix 100ms linear;
                transition: 
                height 500ms cubic-bezier(0.75, -0.5, 0.75, 1),
                width 500ms cubic-bezier(0.75, -0.5, 0.75, 1);
            }

            @keyframes backdrop-bugfix {
                from, to {
                    height: 2px;
                    width: 2px;
                }
            }

                article {
                    aspect-ratio: 1 / 1;
                }

                article::before {
                    content: "";
                    float: left;
                    width: 49%;
                    shape-outside: polygon(
                        0 0,
                        98% 0,
                        50% 6%,
                        23.4% 17.3%,
                        6% 32.6%,
                        0 50%,
                        6% 65.6%,
                        23.4% 82.7%,
                        50% 94%,
                        98% 100%,
                        0 100%
                        );
                    shape-margin: 7%;
                }

                .description::before {
                    content: "";
                    float: right;
                    height: 100%;
                    width: 49%;
                    shape-outside: polygon(
                        2% 0%,
                        100% 0%,
                        100% 100%,
                        2% 100%,
                        50% 94%,
                        76.6% 82.7%,
                        94% 65.6%,
                        100% 50%,
                        94% 32.6%,
                        76.6% 17.3%,
                        50% 6%
                        );
                    shape-margin: 7%;
                }
            
            .description {
                text-align: center;
                display: block;
                height: 100%;
            }

                .item-2:focus-within ~ .submenu-2 div[class|="spotlight"] {
                    transition: 
                    height 750ms ease-in-out,
                    width 750ms ease-in-out,
                    top 400ms ease-in-out,
                    left 400ms ease-in-out;
                }

                .spotlight-1 {
                    top: 45%;
                    left: 25%;
                }

                    .spotlight-1 article,
                    .spotlight-1 article::before {
                        height: 27em;
                    }
                    
                    .item-2:focus-within ~ .submenu-2 .spotlight-1 {
                        height: 27em;
                        width: 27em;
                    }

                        .spotlight-1 .description {
                            font-size: 1.32em;
                        }

                .spotlight-2 {
                    top: 25%;
                    left: 60%;
                }

                    .spotlight-2 article,
                    .spotlight-2 article::before {
                        height: 17em;
                    }
                    
                    .item-2:focus-within ~ .submenu-2 .spotlight-2 {
                        height: 17em;
                        width: 17em;
                    }

                        .spotlight-2 .description {
                            font-size: 0.94em;
                        }

        .submenu-3 {
            height: 30%;
        }

            .submenu-3 .right-wrap-1 {
                bottom: 0;
                transform: rotateZ(30deg);
                transition: transform 500ms ease-in-out 0ms;
            }

                .submenu-3:focus-within .right-wrap-1,
                .item-3:focus-within ~ .submenu-3 .right-wrap-1 {
                    transform: rotateZ(0deg);
                    transition: transform 500ms ease-in-out 100ms;  
                }

                .submenu-3 .ray-1 {
                    height: 4rem;
                    width: 62dvh;
                    transform-origin: 100% 100%;
                    transform: rotate(30deg);
                }

                    .slide-anim {
                        text-align: center;
                        display: grid;
                        align-items: center;
                        grid-template-columns: 100% 100%;
                        transition: grid-template-columns 500ms ease-in-out;
                    }

                        .slide-anim:hover {
                            grid-template-columns: 30% 70%;
                        }

                            .slide-anim:hover .brand {
                                opacity: 1;
                                right: 0;
                                transition: 
                                    opacity 400ms ease-in-out 100ms,
                                    right 500ms ease-in-out;
                            }

                        .slide-anim > * {
                            display: inline-block;
                            position: relative;
                        }

                            .fa-envelope {
                                transition: left 500ms ease-in-out;
                            }

                            .brand {
                                opacity: 0;
                                right: 120%;
                                transition: 
                                    opacity 400ms ease-in-out 0s,
                                    right 500ms ease-in-out;
                            }

                                .brand.wider-text {
                                    right: 100%;
                                }

                    a[class|="social"] {
                        position: relative;
                        left: 2rem;
                        width: 8rem;
                    }

                        a[class|="social"] > * {
                            pointer-events: none;
                        }

                        .social-1:hover ~ .submenu-selection,
                        .social-1:focus-within ~ .submenu-selection {
                            background-color: hsl(340deg, 100%, 65%);
                        }

                        .social-2:hover ~ .submenu-selection,
                        .social-2:focus-within ~ .submenu-selection {
                            background-color: hsl(160deg, 100%, 65%);
                        }

@media screen and (max-width: 1300px) {
    .selection {
        --line-width: 5rem;

        transform: var(--menu-select) rotate(-10deg);
    }

    .submenu-1 {
        height: 35%;
    }

    .project-1 {
        padding-right: 7vw;
    }

    .project-2 {
        padding-right: 9.5vw;
    }

    .project-3 {
        padding-right: 16vw;
    }

    .spotlight-1 {
        top: 50%;
    }

    .spotlight-2 {
        top: 20%;
    }

    .submenu-3 {
        height: 20vw;
    }

    .submenu-3 .ray-1 {
        width: 41vw;
    }
}

@media screen and (max-width: 1050px) {
    .submenu-1 {
        height: 21rem;
    }

    .project-1 {
        padding-right: 3rem;
    }

    .project-2 {
        padding-right: 4.75rem;
    }

    .project-3 {
        padding-right: 10rem;
    }

    .spotlight-1 {
        top: 55%;
    }

    .submenu-3 {
        height: 16rem;
    }

    .submenu-3 .ray-1 {
        width: 32rem;
    }
}

@media screen and (max-width: 850px) and (min-width: 721px) {
    .selection {
        --line-width: 5rem;
        
        transform: var(--menu-select) rotate(-25deg);
    }

    .item-1 {
        bottom: 72%;
        right: 55%;
    }

        .item-1:hover ~ .selection {
            --x: 45% !important;
            --y: 28% !important;
            transform: var(--menu-select) rotate(-15deg) !important;
        }

        .item-1:focus-within ~ .selection,
        .submenu-1:focus-within ~ .selection {
            --x: 45%;
            --y: 28%;
            transform: var(--menu-select) rotate(-15deg);
        }

    .item-2 {
        bottom: 54%;
        right: 37.5%;
    }

        .item-2:hover ~ .selection {
            --x: 62.5% !important;
            --y: 46% !important;
            transform: var(--menu-select) rotate(-5deg) !important;
        }

        .item-2:focus-within ~ .selection,
        .submenu-2:focus-within ~ .selection {
            --x: 62.5%;
            --y: 46%;
            transform: var(--menu-select) rotate(-5deg);
        }

    .item-3 {
        bottom: 36%;
        right: 20%;
    }

        .item-3:hover ~ .selection {
            --x: 80% !important;
            --y: 64% !important;
            transform: var(--menu-select) rotate(5deg) !important;
        }

        .item-3:focus-within ~ .selection,
        .submenu-3:focus-within ~ .selection {
            --x: 80%;
            --y: 64%;
            transform: var(--menu-select) rotate(5deg);
        }

    .spotlight-1 {
        top: 50%;
    }

    .spotlight-2 {
        top: 15%;
        left: 65%;
    }
}

@media screen and (max-width: 720px) {
    .selection {
        --menu-select: 
            translate(
                0px, 
                calc(var(--y) + var(--offset))
            );
        /* --offset: -50% !important; */

        clip-path: none;
        right: 50%;
        bottom: -4rem;
        height: 4rem;
        width: 100%;
        transform: translate(50%, 50%) !important;
        transition: bottom 500ms ease-in-out 1s;
    }

        input[class|="item"]:hover ~ .selection,
        input[class|="item"]:focus-within ~ .selection,
        div[class|="submenu"]:focus-within ~ .selection {
            --offset: 0%;
            transition: bottom 400ms ease-in-out;
        }
    
    input[class|="item"] {
        right: 50%;
        height: 5rem;
    }

        input[class|="item"]:focus-within ~ .selection {
            
        }

    .item-1 {
        bottom: calc(44% + 19.51vw);
    }

        .item-1:focus-within ~ .selection,
        .submenu-1:focus-within ~ .selection {
            bottom: calc(44% + 19.51vw);
        }

        .item-1:hover ~ .selection {
            bottom: calc(44% + 19.51vw) !important;
        }

    .item-2 {
        bottom: calc(32% + 19.51vw);
    }

        .item-2:focus-within ~ .selection,
        .submenu-2:focus-within ~ .selection {
            bottom: calc(32% + 19.51vw);
        }

        .item-2:hover ~ .selection {
            bottom: calc(32% + 19.51vw) !important;
        }

    .item-3 {
        bottom: calc(20% + 19.51vw);
    }

        .item-3:focus-within ~ .selection,
        .submenu-3:focus-within ~ .selection {
            bottom: calc(20% + 19.51vw);
        }

        .item-3:hover ~ .selection {
            bottom: calc(20% + 19.51vw) !important;
        }

    .submenu-1 {
        height: 18rem;
    }

        /* .project-1 {
            padding-right: 6rem;
        }

        .project-2 {
            padding-right: 8.25rem;
        }

        .project-3 {
            padding-right: 14rem;
        } */

    .spotlight-1 {
        top: calc(10% + 13.4vw);
        left: 72%;
        font-size: calc(5px + 1.1vw);
        /* font-size: 6px; */
    }

    .spotlight-2 {
        top: calc(23% + 9.75vw);
        /* top: 32%; */
        left: 24%;
        font-size: calc(10px + 1vw);
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: calc(3px + 1.76vw);
    }

    .spotlight-1 {
        font-size: 2.1vw;
    }

    .spotlight-2 {
        font-size: 3vw;
        left: 25%;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        top: 8%;
    }

    .greeting {
        left: 50%;
        transform: translateX(-50%);
        font-size: 8.5vw;
        line-height: 10.3vw;
        /* font-size: 7vw;
        line-height: 8.5vw; */
    }
}

@media screen and (hover: none) {
    .item-1:not(:focus-within),
    .item-3:not(:focus-within) {
        animation: teeter 3s linear infinite;
    }

    .item-2:not(:focus-within) {
        animation: teeter 3s linear infinite reverse;
    }
}